<div class="event">
  <div class="content">
    <div class="summary">
      <small>[<%= formatted_time(message.created_at) %>]</small> <em class='blue-text'><%= message.user.username %></em>: <%= message.body %>
    </div>
  </div>
</div>