<h1 align="center">Login</h1>
<%= form_for :session, url: { action: 'sign_in' }, local: true do |f|%>
  <div>Username: <input name="username" type="text" placeholder="username"/></div>
  <div>Password: <input name="password" type="password" placeholder="password"/></div>
  <div> <input type="submit" value="Login" /></div>
<% end %>