<h4 class="ui center aligned medium icon header">
  <i class="circular green comment alternate icon"></i>
  Message.Me
</h4>
<div class="ui two column grid">
  <div class="twelve wide column">
    <%= render 'chatbox' %>
  </div>
  <div class="four wide column">
    <%= render 'friends_box' %>
  </div>
</div>