@import "semantic-ui";


.chatbox {
  height: 600px;
}

.no-bg {
  border: none;
  background: black;
}

.auto-of {
  height: 100%;
  overflow: auto;
}

.green-text {
  color: rgb(31, 119, 20);
}

.w-60 {
  width: 60%
}

.h-auto {
  height:auto !important;
}

.m-bottom-2 {
  margin-bottom: 2%;
}

.p-15-px {
  padding: 15px !important;
}